:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #404bbf;
  --second-color: #4d5ae5;
  --color-font-family: #434455;
  --color-btm-font: #ffffff;
  --color-backgraund: #2e2f42;
  --color-secondary-backgraund: #f4f4fd;
  --color-btm-two: #e7e9fc;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
body {
  font-family: var(--main-font-family);
  color: var(--color-font-family);
  background-color: var(--color-btm-font);
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ======= ==== Header===== ====== */
.head-one {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.nav-one {
  display: flex;
  align-items: center;
  column-gap: 76px;
}
.head-two {
  display: flex;
  gap: 40px;
}

.logo {
  width: 44px;
  height: 21px;

  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: var(--second-color);
}
.logo-one {
  width: 71px;
  height: 21px;

  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-backgraund);
}
.head-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;

  color: var(--color-backgraund);
}
.head-item:hover,
.head-item:focus {
  color: var(--accent-color);
}
.head-adres {
  font-style: normal;
  gap: 40px;
}
.head-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-font-family);
}
.head-contact:hover,
.head-contact:focus {
  color: var(--accent-color);
}

/* -------sections------ */
.section-one {
  height: 600px;
  left: 0px;
  top: 72px;
  background: var(--color-backgraund);
  padding: 188px 0;
}
.hero {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0px 188px 0px;
}
.main-list {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--color-btm-font);
}
.open-btn {
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-btm-font);
  background: var(--second-color);
  border: none;
}
.open-btn:hover,
.open-btn:focus {
  background-color: var(--accent-color);
}
/* ---------section 2------- */
.sections-second {
  padding: 120px 0;
}
.section-two {
  line-height: 1.2;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-two-list {
  display: flex;
  column-gap: 24px;
  padding-top: 120px;
  gap: 24px;
  width: calc((100% - 72px) / 4);
}
.list-one {
  width: calc((100% - 72px) / 4);
}
.main-link {
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-backgraund);
  margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
}
.info-section-two {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-font-family);
}
/* ------section 3----- */
.section-informations {
  display: flex;
  column-gap: 24px;
  padding: 0;
  gap: 24px;
}
.list-two {
  width: calc((100% - 48px) / 3);
}

/* section 4 */
.section-four {
  background: var(--color-secondary-backgraund);
  flex-basis: calc((100% - 72px) / 4);
}
.section-main {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-backgraund);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  column-gap: 24px;
  gap: 24px;
}

.section-four-team {
  background: var(--color-btm-font);

  border-radius: 0px 0px 4px 4px;
}
.team-main-list {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.list-name {
  padding: 32px 16px;
}
.our-team-info {
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* text-align: center; */
  letter-spacing: 0.02em;

  color: var(--color-font-family);
}
/* -------Footer------ */
.footer-link {
  height: 312px;
  left: 0px;
  top: 2280px;
  background: var(--color-backgraund);
  padding: 100px 0;
}
.footer-main {
  margin-left: 156px;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 16px;
}
.logo-link {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-two {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-secondary-backgraund);
}
.footer-info {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--color-secondary-backgraund);
}
/* Portfolio */

.section-portfolio {
  padding: 96px 0 120px;
}
.list-btn {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 91px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}
.open-btn-portfolio {
  padding: 12px 24px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--second-color);
  background: var(--color-secondary-backgraund);
  border: 1px solid var(--color-btm-two);
  border-radius: 4px;
}
.open-btn-portfolio:hover {
  background: var(--accent-color);
}
.open-btn-portfolio:hover,
.open-btn-portfolio:focus {
  color: var(--color-btm-font);
  border: 1px solid transparent;
}
.open-btn-portfolio:hover,
.open-btn-portfolio:focus {
  background-color: var(--accent-color);
}
.potrfolio-conteiner {
  width: 1155px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-right: 15px;
  margin-bottom: 120px;
  row-gap: 48px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 57px;
  flex-basis: calc((100% - 24px) / 3);
}
.card-set-list {
  border: 1px solid var(--color-btm-two);
  border-top: none;
  width: calc((100% - 48px) / 3);
}
.list-name-two {
  padding: 32px 16px;
  border: 1px solid var(--color-btm-two);
  border-top: none;
}
.portfolio-main {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-backgraund);
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
}
.portfolio-info {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-font-family);
  margin-bottom: 32px;
  margin-left: 16px;
}
